<nav style="nav">
  <%= link_to "3D example", three_js_example_path %>
  <%= link_to "History", "" %>
  <%= link_to "Donate", "" %>
  <%= link_to "Why", "" %>
  <%= link_to "Email", new_contact_path %>
</nav>

<div class="content">
  <div class="situation">
    <h3>What’s the situation?</h3>
    <p>In the early 1990s the number <span class="highlight">dipped below 2,500,</span> and in 2004 it was reported that only 2,410 black rhinos remained.</p>
  </div>
</div>
