<nav style="nav">
  <%= link_to "3D example", three_js_example_path %>
  <%= link_to "History", "" %>
  <%= link_to "Donate", "" %>
  <%= link_to "Why", "" %>
  <%= link_to "Email", new_contact_path %>
</nav>

<div data-barba="container" data-barba-namespace="rhino">
<div id="hero_01">
<article>
<h1>Critically <br>Endangered</h1>
</article>
<canvas class="webgl"></canvas>
</div>

<article id="section_02">
<h2>A
</h2></article>
<article></article>
</div>